* {
  box-sizing: border-box;
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  height: 100vh;
  font-family: sans-serif;
  padding: 36px 18px;
  background-color: white;
  color: #070a52;
}

.dark-mode {
  background-color: #353535;
  color: #bebfd1;
}

header {
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

.rounds.hide,
.main-game.hide,
.light.hide,
.dark.hide,
.next.hide,
.user-options.hide,
#userChoice.hide {
  display: none;
}

.light {
  color: #bebfd1;
}

.rounds {
  height: 70vh;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.rounds-text {
  text-align: center;
  font-size: 36px;
}

.rounds-input {
  font-size: 48px;
  text-align: center;
  font-weight: 400;
  width: 120px;
  height: 80px;
  border: 2px solid #bebfd1;
  border-radius: 12px;
}

.play-button {
  background-color: #2751a3;
  color: #ffffff;
  transition: background-color 0.3s, color 0.3s, opacity 0.3s;
  font-size: 27px;
  font-weight: 800;
  border-radius: 12px;
  border: none;
  padding: 24px 36px;
  cursor: pointer;
}

.play-button:hover {
  background-color: #152a54;
}

.play-button:active {
  background-color: #2751a3;
  transform: scale(0.95);
}

.play-button:disabled {
  background-color: #2751a3;
  cursor: not-allowed;
  opacity: 0.6;
}

.mode {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  width: 40px;
  height: 40px;
}

.main-game {
  padding-top: 12px;
  height: 60vh;
  justify-content: space-between;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.score-round-reset {
  height: 12vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: start;
}

.scoreboard,
.round-widget,
.reset {
  flex: 0.25;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.scores,
.rounds-track {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.user-score,
.comp-score {
  font-size: 30px;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.user-score {
  background-color: #6881d8;
  border-radius: 12px 0 0 12px;
  border-right: 1px solid black;
}

.comp-score {
  background-color: #a32751;
  border-radius: 0 12px 12px 0;
  border-left: 1px solid black;
}

.score-title,
.round-title,
.user-title {
  text-align: center;
  font-size: 20px;
}

.current-round,
.total-rounds {
  font-size: 30px;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #000;
}

body.dark-mode .current-round,
body.dark-mode .total-rounds {
  border: 2px solid #fff;
}

.current-round {
  border-radius: 12px 0 0 12px;
  border-right: 1.5px solid black;
}

.total-rounds {
  border-radius: 0 12px 12px 0;
  border-left: 1.5px solid black;
}

.reset-button,
.next {
  font-size: 24px;
  padding: 12px;
  font-weight: 800;
  height: 80%;
  min-width: 50%;
  border-radius: 18px;
}

.reset-button {
  color: #df2e38;
  background-color: transparent;
  border: 4px solid #df2e38;
}

.next {
  color: #fff;
  background-color: #2751a3;
}

.reset {
  align-items: center;
  justify-content: flex-end;
}

.options-fill {
  fill: #000;
}

body.dark-mode .options-fill {
  fill: #fff;
}

.user-game {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.user-options {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.vs-result-text {
  font-size: 36px;
  border: 2px solid #fff;
  border-radius: 8px;
  padding: 8px;
}
